################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Powercat-Copilotstudio-Accelerator
/.vs
/POWERCAT/POWERCAT/.vs/POWERCAT
/POWERCAT/POWERCAT/packages
/POWERCAT/POWERCAT/POWERCAT.Plugins/bin/Debug
/POWERCAT/POWERCAT/POWERCAT.Plugins/obj/Debug
/POWERCAT/POWERCAT/POWERCAT.Webresources/bin/Debug
/POWERCAT/POWERCAT/POWERCAT.Webresources/obj/Debug
/POWERCAT/.vs/POWERCAT
/POWERCAT/POWERCAT/POWERCAT.Webresources/.vs
/POWERCAT/POWERCAT/POWERCAT.Plugins/.vs
/POWERCAT/POWERCAT/POWERCAT.Plugins/obj/Release
/POWERCAT/POWERCAT/POWERCAT.Webresources/obj/Release
/POWERCAT/POWERCAT/POWERCAT.UnitTests/bin/Debug
/POWERCAT/POWERCAT/POWERCAT.UnitTests/obj/Debug
/POWERCAT/POWERCAT/TestResults/75e4979f-b8de-403d-b75f-8f66ce7e20d1
/POWERCAT/POWERCAT/POWERCAT.Webresources/CopilotTestRun/TestRunExecutor/node_modules
/POWERCAT/POWERCAT/POWERCAT.Webresources/CopilotTestRun/TestRunExecutor/dist
