.webChatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  overflow: auto;
  /*background-color: #f7f7f7 !important; */
}

.container {
  align-items: flex-end;
}

/*
.webchat__bubble__content {
  background-color: #ffffff !important;
}

.webchat__basic-transcript__filler {
  background-color: #f7f7f7 !important;
}

.webchat__basic-transcript__transcript {
  background-color: #f7f7f7 !important;
}
*/
